#  Ignore everything
*

# Except tex files

!*.cf
!*.hs
!*.lhs
!timing.lam
!*.v
!*.txt
!.gitignore
!*.tex
!*.png
!*.jpg
!*.bib
!*.html
!*.md
!*.sty
!*.pdf
!*.agda
!*.lagda
!*.ctt
!README
!Makefile
!*.ttc
!*.ttf
!*.otf
!*.ipynb
!*.pl

# ... even if they are in subdirectories

!*/
