#  Ignore everything
*

# Except tex files

!*.v
!*.txt
!.gitignore
!*.tex
!*.png
!*.jpg
!*.bib
!*.html
!*.md
!*.sty
!*.pdf
!*.agda
!*.lagda
!*.ctt
!README

# ... even if they are in subdirectories

!*/